
h1 {
  margin-bottom: 15px;
}
h2 {
  font-size: 1em;
}
table {
  width: 100%;
}
th, td {
  vertical-align: top;
  border-bottom: 1 px solid #ddd;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
#doctorList {
  display: none;
}
.span6 {
  margin-left: 2%;
  margin-bottom: 2%;
}
